:root {
  --blue: #2483bb;
  --darker-blue: #40649e;
  --light-gray: #cccccc;
  --gray: #eeeeee;
  --dark-gray: #999999;
  --med-gray: #333333;
  --white: #ffffff;
  --footer-link-color: #5376b6;
  --footer-link-hover-color: #14495b;
  --status-avail-color: #61CA93;
  --status-pending-color: #1F97C7;
  --status-unavailable-color: #D2D2D2;
  --container-width: 1170px;
}
