/* Prevents zooming on iOS when selecting form controls */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

.s-lc-public-main {
  padding: 0;
}

#s-lc-eq-navform {
  margin-top: 0;
  padding-bottom: 2em;
}

.img-thumbnail {
  border: 0;
}

#time_grid_cont {
  padding-top: 0;
  margin-top: 0;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc .fc-toolbar>*>:first-child {
  margin-left: 0 !important;
}

@media (max-width: 500px) {
  .fc-header-toolbar .fc-left,
  .fc-header-toolbar .fc-right,
  .fc-header-toolbar .fc-center {
    float: none;
    display: block;
    clear: both;
  }
}

@media (max-width: 500px) {
  #eq-time-grid .fc-toolbar h2 {
    margin-bottom: .25em;
  }
}

.fc button {
  height: auto;
  margin-left: .5em !important;
  padding: .75em !important;
  font-size: 1.25em;
}

#s-lc-eq-form-box {
  padding: 2em;
  background-color: color(var(--gray) tint(35%));
}

#s-lc-eq-bwell {
  outline: none;
}

#s-lc-eq-bwell .btn.btn-default {
  margin-left: .5em !important;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 4px !important;
  border: 0;
}

/* Hide add equipment to cart button */
#eq_cart {
  display: none !important;
}

#s-lc-eq-bform legend {
  border-bottom: 0;
}

/* 'Search for room reservation' page form control button fix */
@media (max-width: 1200px) {
  #s-lc-eq-navform .form-group:last-child {
    margin-top: 1em;
  }
}

/* Ibid */
@media (max-width: 768px) {
  #s-lc-eq-navform .form-group:last-child .btn {
    margin-top: 1em;
  }
}

/* Makes 'Cancel your Equipment Booking' question responsive */
#canceleq {
  width: 100% !important;
  border: none !important;
  padding: 0 !important;
}

/* Add margin around bootstrap alerts */
.alert {
  margin-right: 1em !important;
  margin-left: 1em !important;
}

/* Add margin around bootstrap panels */
.panel {
  margin-right: 1em !important;
  margin-left: 1em !important;
}

/* Room info bubble */
.info-bubble {
  display: inline-block;
  padding: 2px 4px;
  background-color: var(--blue);
  border-radius: 2px;
  font-size: .9em;
  color: var(--white)
}

/* Make the cells in the datepicker table larger */
.datepicker td,
.datepicker th {
  width: 40px !important;
  height: 40px !important;
}

/* Prevent the 'View all room reservations' button from floating on small screens */
@media (max-width: 1000px) {
  .pull-right {
    float: none !important;
  }
}
