.s-lc-public-main {
  padding: 0;
}

#s-lc-eq-navform {
  margin-top: 0;
  padding-bottom: 2em;
}

.img-thumbnail {
  border: 0;
}

#time_grid_cont {
  padding-top: 0;
  margin-top: 0;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc .fc-toolbar>*>:first-child {
  margin-left: 0 !important;
}

@media (max-width: 500px) {
  .fc-header-toolbar .fc-left,
  .fc-header-toolbar .fc-right,
  .fc-header-toolbar .fc-center {
    float: none;
    display: block;
    clear: both;
  }
}

@media (max-width: 500px) {
  #eq-time-grid .fc-toolbar h2 {
    margin-bottom: .25em;
  }
}

.fc button {
  height: auto;
  margin-left: .5em !important;
  padding: .75em !important;
  font-size: 1.25em;
}

#s-lc-eq-form-box {
  padding: 2em;
  background-color: color(var(--gray) tint(35%));
}

#s-lc-eq-bwell {
  outline: none;
}

#s-lc-eq-bwell .btn.btn-default {
  margin-left: .5em !important;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 4px !important;
  border: 0;
}

// Hide add equipment to cart button
#eq_cart {
  display: none !important;
}

#s-lc-eq-bform legend {
  border-bottom: 0;
}

.alert {
  margin-right: 1em !important;
  margin-left: 1em !important;
}
