#eq-time-grid-legend {
  text-align: center;
  margin: 1em 0;
}

@media (min-width: 500px) {
  #eq-time-grid-legend {
    text-align: right;
  }
}

#eq-time-grid-legend .label {
  line-height: 1.8em;
  font-weight: normal;
}

@media (min-width 500px) {
  display: inline-block;
  padding: .25em 1em;
  font-size: 1em;
}

.label-eq-avail,
.s-lc-eq-avail {
  background-color: var(--status-avail-color) !important;
  border: none !important;
}

.label-eq-pending,
.s-lc-eq-pending {
  background-color: var(--status-pending-color) !important;
  border: none !important;
}

.label-eq-unavailable,
.s-lc-eq-unavailable {
  background-color: var(--status-unavailable-color) !important;
  border: none !important;
}

.label-eq-avail,
.label-eq-pending,
.label-eq-unavailable {

}

#eq-time-grid-legend  .label-eq-filtered {
  display: none;
}
