@import "../../lib/properties.css";

.ual-footer-inner {
  font-size: 1.25em;
  padding: 15px;
  background-color: var(--gray);
}

.ual-footer-inner a {
  color: var(--footer-link-color);
}

.ual-footer-inner ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}

@media (min-width: 500px) {
  .ual-footer-inner ul {
    text-align: left;
  }
}

.ual-footer-inner li {
  display: block;
  padding-right: 8px;
  margin-right: 8px;
}

@media (min-width: 500px) {
  .ual-footer-inner li {
    display: inline-block;
  }
}

@media (min-width: 500px) {
  .ual-footer-inner ul:first-child li {
    border-right: 1px solid var(--light-gray);
  }
}

.ual-footer-inner ul:first-child li:last-child {
  border: none;
}
