<div class="container">
  <div class="ual-footer-inner">
    <ul>
      <li class="name">The University of Arizona Libraries</li>
      <li>1510 E. University Blvd.</li>
      <li>Tucson, AZ 85721-0055</li>
      <li>(520) 621-6442</li>
    </ul>
    <ul>
      <li><a href="mailto:library@arizona.edu">library@arizona.edu</a></li>
      <li><a href="http://new.library.arizona.edu/policies">Policies</a></li>
      <li><a href="http://new.library.arizona.edu/jobs">Job opportunities</a></li>
      <li><a href="https://privacy.arizona.edu/privacy-statement">University Privacy Statement</a></li>
    </ul>
  </div>
</div>
