/* Room preview thumbnails */
.img-thumbnail {
  border: 0;
}

/* Room info bubble */
.info-bubble {
  display: inline-block;
  padding: 2px 4px;
  background-color: var(--blue);
  border-radius: 2px;
  font-size: 9px;
  color: var(--white)
}

@media (min-width: 500px) {
  .info-bubble {
    font-size: 10px;
  }
}

/* Info column */
.fc-resource-area col {
  min-width: 35px !important;
}
